<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars-Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
</head>
<body>
    <div class="container" id="app">
    <section class="callout secondary">
        <h5 class="text-center">Rent-A-Car</h5>
        <form>
          <div class="row">
            <div class="large-6 columns">
              <select v-model="location">
                <option v-for="location in locations" :value="location">{{ location }}</option>
              </select>
            </div>
            <div class="medium-6 columns">
              <a @click="getPosts(location)" href="index.html" class="button expanded">Find</a>
            </div>
          </div>
        </form>
      </section>
      </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="app.js"></script>
</body>
</html>