<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars-Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
    <style>
      .active{
        background-color: green;
      }
    </style>
</head>
<body>
    <div id="app">
    <!--Search box-->
    <div class="container" v-if="!showResults">
    <section class="callout secondary">
        <h5 class="text-center">Rent-A-Car</h5>
        <form>
          <div class="row">
            <div class="large-6 columns">
              <select v-model="location">
                <option v-for="location in locations" :value="location">{{ location }}</option>
              </select>
            </div>
            <div class="large-6 columns">
              <select v-model="date">
                <option v-for="date in dates" :value="date">{{ date }}</option>
              </select>
            </div>
            <div class="medium-6 columns">
              <a @click="getPosts(location,date)" class="button expanded">Submit</a>
            </div>
          </div>
        </form>
      </section>
      </div>

      <!--Results-->
      <div class="container" v-if="showResults">
        <section class="callout secondary">
        <h3 class="text-center">Rent-A-Car</h3>
        <form>
          <div class="row">
            <div class="large-6 columns">
              <select v-model="filter">
                <option v-for="filter in filters" :value="filter">{{ filter }}</option>
              </select>
            </div>
            <div class="medium-6 columns">
              <a @click="getFilters(filter)" class="button expanded">Filter</a>
            </div>
          </div>
          <div class="row">
            <div class="large-6 columns">
              <select v-model="search">
                <input :value="search">{{ search }}</input>
              </select>
            </div>
            <div class="medium-6 columns">
              <a @click="getSearches(search)" class="button expanded">Search</a>
            </div>
          </div>
        </form>
        </section>
        <div class="columns medium-3" v-for="result,i in results" v-if="!get_filter">
            <div class="card" v-bind:class="{active: result.selected}">
                <div class="card-divider">
                    {{result.name}}
                </div>
                <div class="card-section">
                    <p><img v-bind:src="result.photo"></p>
                </div>
                <div class="card-section" v-if="!presents[i]">
                  <p>Not Available</p>
                </div>
                <div class="card-section">
                    <p>{{result.price}}</p>
                </div>
                <div class="card-section">
                    <p>{{result.location}}</p>
                </div>
                <div class="card-section">
                    <p>{{result.car_Type}}</p>
                </div>
                <div class="card-section">
                    <p>{{result.seats}}</p>
                </div>
                <div class="card-section">
                    <p>{{result.fuel_Type}}</p>
                </div>
                <div class="card-section">
                    <p>{{result.transmission}}</p>
                </div>
                <div class="card-section">
                  <button @click="getSelected(result.selected)" class="button">Select</button>
              </div>
            </div>
        </div>
        <div class="columns medium-3" v-for="filter,i in gets_filter" v-if="get_filter">
          <div class="card" v-bind:class="{active: select}">
              <div class="card-divider">
                  {{filter.name}}
              </div>
              <div class="card-section">
                  <p><img v-bind:src="filter.photo"></p>
              </div>
              <div class="card-section" v-if="!filter.present">
                <p>Not Available</p>
              </div>
              <div class="card-section">
                  <p>{{filter.price}}</p>
              </div>
              <div class="card-section">
                  <p>{{filter.location}}</p>
              </div>
              <div class="card-section">
                  <p>{{filter.car_Type}}</p>
              </div>
              <div class="card-section">
                  <p>{{filter.seats}}</p>
              </div>
              <div class="card-section">
                  <p>{{filter.fuel_Type}}</p>
              </div>
              <div class="card-section">
                  <p>{{filter.transmission}}</p>
              </div>
              <div class="card-section">
                <button @click=" " class="button">Select</button>
            </div>
          </div>
      </div>
    </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="app.js"></script>
</body>
</html>